<h1>About</h1>
<p>
  <%= link_to "Wingman", root_path %>
  is helping people have better conversations!
</p>
<h2> Getting Started </h2>
<p> There are two ways of utilizing the application: 1) Solo and 2) Multiplayer. </p>
</br>
<h2> TEAM </h2>
